<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Hora de Salida</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="modal-content">
    <!-- Componente de hora -->
    <ion-item lines="none" class="ion-margin-horizontal ion-margin-top">
      <!-- <ion-button slot="start" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button> -->
      <ion-datetime
        placeholder="Hora de Salida"
        presentation="time"
        [value]="horaSalida"
        (ionChange)="onSalidaChange($event)"
        class="custom-datetime"
      >
        <div slot="label">Hora de Salida <ion-text color="danger">*</ion-text></div>
      </ion-datetime>
    </ion-item>

    <!-- Botón de confirmación para cerrar el modal y devolver la hora -->
    <ion-button expand="block" (click)="dismissModal()">Confirmar</ion-button>
  </div>
</ion-content>